@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
//custom variables

$sakura: #FFB6C1;

$component-active-bg: $sakura;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
        "sakura": #FFB6C1
);

$custom-spacers: (
        6: $spacer * 4,
);


$theme-colors: map-merge($custom-theme-colors,$theme-colors);
$table-variants: map-merge($custom-theme-colors,$table-variants);
$spacers: map-merge($custom-spacers,$spacers);


@import "../node_modules/bootstrap/scss/bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.loginform {
  position: relative;
  width: 720px;
  height: 440px;
  margin: 20px auto;
  border: 1px solid #dddd;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  .btn-sakura {
    border: 0;
    font-size: 14px;
  }
}

.footer-login .text-muted {
  font-size: 12px;
}

.form-floating {
  span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 85%;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
  }

  .form-control {
    &:not(:placeholder-shown)~span,
    &:focus ~ span {
      top: 62%;
      color: $sakura;
    }
  }
}

.small, small {
  font-size: .8em;
}

